<div class="footer" [ngClass]="classes">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-3">
        <a routerlink="/" class="navbar-brand">NEXO</a>
      </div>
      <div class="col-12 col-sm-3">
        <div class="footer-menu">
          <ul>

            <li>
              <a routerLink="/branding">Branding</a>
            </li>

            <li>
              <a routerLink="/ux-design">UX/UI Design</a>
            </li>
            <li>
              <a routerLink="/technology">Development</a>
            </li>

            <li>
              <a routerLink="/webdesign">Siti Web</a>
            </li>


          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="footer-menu">
          <ul>

            <li>
              <a routerLink="/about">Chi siamo</a>
            </li>

            <li>
              <a routerLink="/works">Progetti</a>
            </li>
            <li>
              <a routerLink="/contact">Contatto</a>
            </li>

            <li>
              <a href="https://dribbble.com/studionexo" target="_blank">Dribbble</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="footer-menu">
          <ul>
            <li> <a href="https://www.startupinspire.com" target="_blank">Startup Directory</a>
            </li>

            <li> <a href="https://www.matthiasgutsch.com" target="_blank">Designer / Developer</a>
            </li>

            <li>
              <a href="https://www.linkedin.com/company/studionexo" target="_blank">LinkedIn</a>
            </li>
            <li>P.IVA 02512180205</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<cookie-consent-component />