<section class="home-hero-section fixed-header white pb-60">
  <div class="container">
    <div class="row">


      <div class="col-12 col-md-12" *ngIf="element">
        <div class="row">

          <div class="col-12 col-sm-5 text-left pb-0">



            <h1 class="mt-0 pt-0 pb-30">
              {{element.seo_title}}
            </h1>
          </div>
          <div class="col-12 col-sm-6 offset-sm-1 text-left pb-0">


            <div *ngIf="cleanDescription_1" class="description">
              <div [innerHTML]="cleanDescription_1"></div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>

</section>

<section class="home-hero-section fixed-header white pt-10">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 text-left pb-0">

        <div class="image pb-60">
          <ng-lottie [styles]="{ width: '100%' }" [options]="options_top" class="img-fluid border-radius"></ng-lottie>
        </div>



      </div>
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 pull-right pb-50">
          <div *ngIf="element" class="description">
            <div [innerHTML]="element.description_2"></div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12 col-md-6 mb-50">
          <img src="../images/ux-design.jpg" class="img-fluid mb-20">
          <p>Progettiamo e realizziamo applicazioni web e mobile su misura, integrando automazione, AI e cloud per
            ottimizzare i processi aziendali. Potenziamo il tuo business con soluzioni digitali scalabili, efficienti e
            innovative.</p>
        </div>
        <div class="col-12 col-md-6">
          <img src="../images/about3.jpg" class="img-fluid mb-20">
          <p> Se vuoi lanciare un nuovo progetto, ampliare la tua visibilità o innovare la tua comunicazione, siamo qui
            per creare soluzioni digitali su misura per te. </p>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-md-12 pull-left pb-20">
          <div class="image pb-30">
            <ng-lottie [styles]="{ width: '100%' }" [options]="options" class="img-fluid border-radius"></ng-lottie>
          </div>

        </div>
        <div class="col-12 col-sm-10 offset-sm-1 text-left pb-0">



          <div *ngIf="element" class="description">
            <div [innerHTML]="element.description_3"></div>
          </div>

          <div class="tags-list dark">
            <ul>
              <li *ngFor="let tag of tagsArray">{{ tag }}</li>
            </ul>
          </div>

        </div>


      </div>


    </div>
  </div>
</section>